@charset "UTF-8";

body {
	margin: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
	background-image: url("../img/tree.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	margin: 20px 20px;
}

h2 {
	margin: 10px 20px;
	border-bottom: 2px solid rgb(27, 184, 27);
	display: inline-block;
}

h3 {
	margin: 15px 25px;
}

.bordered-h3 {
	display: inline-block;
	padding-bottom: 5px;
	/* 下線とテキストの間隔を調整するために追加 */
	width: auto;
	/* 線の長さを自動にする */
	border-bottom: 2px solid rgb(27, 184, 27);
	/* デフォルトの線の設定 */
}

.bordered-h3.short {
	border-bottom: none;
	/* 文字列が7文字以上の場合は線を非表示 */
}


h4 {
	margin: 20px 30px;
	text-align: left;
}

.cross {
	background: none;
	border: none;
	color: red;
	/* リンクの色にしたい色を指定 */
	text-decoration: none;
	/* リンクの下線を消す */
	cursor: pointer;
	/* ホバー時にポインターを表示 */
	padding: 0;
	/* ボタンの余白を消す */
	display: inline-block;
	/* インラインブロック要素にすることでテキストに合わせたサイズになる */
	transition: transform 0.2s ease;
	/* 変化を滑らかにするためのトランジション */
}

.cross:hover {
	transform: scale(1.1);
	/* 1.1倍に拡大 */
}

.circle {
	background: none;
	border: none;
	color: blue;
	/* リンクの色にしたい色を指定 */
	cursor: pointer;
	/* ホバー時にポインターを表示 */
	padding: 0;
	/* ボタンの余白を消す */
	display: inline;
	/* インライン要素にすることでテキストに合わせたサイズになる */
	transition: transform 0.2s ease;
	/* 変化を滑らかにするためのトランジション */
}

.circle:hover {
	transform: scale(1.1);
	/* 1.1倍に拡大 */
}

.tableData {
	text-align: center;

}

.width-large {
	width: 300px;
}

.width-middle {
	width: 150px;
}

.width-small {
	width: 80px;
}

.controlbox {
	margin: 20px 20px;
	height: 100%;
}

.controlbox .button,
.button-red {
	margin-top: 10px;
	margin-right: 10px;
}


.controlboxlog {

	height: 100%;
}


.button,
.button-red {
	background-color: #95A5A6;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	line-height: 1.4;
	padding: 10px 40px;
	text-align: center;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	-moz-border-radius: 4px;
	-moz-user-select: none;
	-ms-touch-action: manipulation;
	-ms-user-select: none;
	-webkit-border-radius: 4px;
	-webkit-user-select: none;
}

.atten {
	color: red;
}


.button:hover {
	background-color: #647071;
}

.button-red {
	background-color: #e74c3c;
}

.button-red:hover {
	background-color: #c0392b;
}



.button-login {
	background-color: rgb(112, 244, 108);
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	line-height: 1.4;
	padding: 10px 40px;
	text-align: center;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	-moz-border-radius: 4px;
	-moz-user-select: none;
	-ms-touch-action: manipulation;
	-ms-user-select: none;
	-webkit-border-radius: 4px;
	-webkit-user-select: none;
}

.button-login:hover {
	background-color: rgb(28, 183, 15);
}

.loginBack {
	background-image: url("../img/tree.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}


.loginPage {
	background-color: white;
	width: 500px;
	height: 300fpx;
}

#footer {
	margin: 40px 0 0 0;
	padding: 20px;
	color: #FFF;
	border-top: 1px solid #333333;
}

#reserve_control {
	margin: 30px 20px;
	padding: 0;
}

#reserve_control p {
	margin: 20px 0 0 0;
	color: #e74c3c;
	font-weight: bold;
}

.atten {
	color: red;
}

#errormsg {
	margin: 0px 20px;
	padding: 0 20px 0 0;
	color: #C0392B;
	display: inline-block;
	background-color: #f2dede;
	background-image: none;
	border: 1px solid #C0392B;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-user-select: none;
	-ms-touch-action: manipulation;
	-ms-user-select: none;
	-webkit-border-radius: 4px;
	-webkit-user-select: none;
}

#errormsg ul {
	margin: 10px 0;
}

.gray-background {
	background-color: rgb(242, 242, 242);
	/* グレーの背景色 */
	padding: 20px;
	/* 必要に応じて余白を追加 */
}

.white-background {
	background-color: #ffffff;
	/* 白の背景色 */
	padding: 20px;
	/* 必要に応じて余白を追加 */
}

.bodyid {
	margin-left: auto;
}

/*#headNumber {
	border: 2px solid rgb(27, 184, 27);
    color: rgb(27, 184, 27); 
    padding: 5px 10px; 
    border-radius: 4px; 
    display: inline-block; 
}*/

#headText {

	color: rgb(0, 0, 0);
}

input[type="submit"],
input[type="reset"] {
	font-size: 1em;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

a.button {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	margin: 0 20px;
}

th,
td {
	padding: 5px 15px;
	border: 1px solid #999;
}

th {
	background: #EEE;
}


.btn-outline-primary {
	background-color: rgb(27, 184, 27);
	border-color: rgb(27, 184, 27);
	color: #fff;
}


.btn-outline-primary:hover {
	background-color: rgb(255, 255, 128);
	border-color: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
}

.btn-primary-custom {
	background-color: rgb(29, 199, 29);
	border-color: rgb(29, 199, 29);
	color: #fff;
}

.btn-primary-custom:hover {
	background-color: rgb(0, 81, 0);
	border-color: rgb(0, 81, 0);
	color: rgb(255, 255, 255);

}

.btn-logout {
	background-color: red;
	/* 背景色を赤に設定 */
	color: white;
	/* テキスト色を白に設定 */
	border: none;
	/* ボーダーをなしに設定 */
	padding: 10px 20px;
	/* パディングを設定 */
	cursor: pointer;
	border-radius: 5px;
}

.btn-logout:hover {
	background-color: darkred;
}

/*キャンセルボタン*/
.btn-cancel {
	background-color: transparent;
	/* 背景色を透明にする */
	color: red;
	/* ボタンのテキスト色を赤にする */
	border: none;
	/* ボーダーをなくす */
	padding: 0;
	/* パディングを0にする */
	cursor: pointer;
	/* ホバー時のカーソル形状 */
	text-decoration: underline;
	/* テキストに下線を追加 */
}

.btn-cancel:hover {
	color: darkred;
	/* ホバー時のテキスト色を変更 */
}

/**/

.tableHead1 {
	background-color: rgb(233, 252, 247);
}

.tableHead2 {
	background-color: rgb(202, 255, 202);
}


.image-container {
	position: relative;
	width: 100%;
	max-width: 1900px;
	/* 画像の幅に合わせて調整 */

}

.main-view__main-visual {
	width: 100%;
	/* 幅を100%に設定 */
	height: 200px;
	;
	/* 高さは自動調整 */
	/* 他のスタイルを追加 */
}

.overlay-text {
	position: absolute;
	top: 50%;
	/* 上部の中央に配置するために50%から開始 */
	right: 50%;
	transform: translate(50%, -50%);
	/* 右中央に移動するための変換 */
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	font-size: 18px;
	color: #000;
}

/* スマホサイズ（最大幅576px）の場合にのみ画像サイズを指定 */
@media (max-width: 576px) {
	.img-fluid {

		width: 50%;
		height: 50%;
		height: auto;
		/* 高さは自動調整 */
	}

	.image-container {
		position: relative;

	}

	/* テーブル全体のサイズ調整 */
	.table-chenge {
		font-size: 0.6rem;
		/* 文字サイズを調整 */
	}

	/* セルのパディング調整 */
	.table-chenge th,
	.table-chenge td {
		padding: 0.1rem;
		/* セルのパディングを調整 */
	}


}

/*
.desktop-image {
	display: block;
}
.mobile-image {
	display: none;
	
}
@media (max-width: 767.98px) {
	.desktop-image {
		display: none;
	}
	.mobile-image {
		display: block;
	}
}
*/

/*homeの写真サイズ変更2枚*/
@media (min-width: 768px) {
	.mobile-image {
		display: none;
	}

	.desktop-image {
		display: block;
	}
}

@media (max-width: 767.98px) {
	.desktop-image {
		display: none;
	}

	.mobile-image {
		display: block;
	}
}

/*ここまでhome写真変更コード*/

.footer_chase {
	position: fixed;
	/* フッターを固定位置に配置 */
	bottom: 0;
	/* ページの下端に配置 */
	width: 100%;
	/* 幅を100%に設定 */
	background-color: #000;
	/* 背景色を設定 */
	color: #fff;
	/* テキストの色を設定 */
	text-align: center;
	/* テキストを中央揃えに設定 */
	font-size: 10px;
	/* フォントサイズを設定 */
	min-height: 60px;
	/* 最小の高さを設定 */
	padding: 22px;
	/* 内側の余白を設定 */
	font-family: "Yu Mincho", "游明朝", "Hiragino Mincho ProN", "Noto Serif Japanese", serif;
	/* フォントファミリーを設定 */
	z-index: 1000;
	/* 必要に応じてz-indexを設定（他の要素との重なり順を制御） */
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

.footer_foot {
	flex-shrink: 0;
	/* フッターがコンテンツより小さい場合に固定します */
	background: #000;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
	min-height: 60px;
	padding: 22px;
	text-align: center;
}

.footer_copy {
	color: rgb(255, 255, 255);
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.pages-container {
	display: flex;
	/* flexbox を使用して要素を横並びに配置 */
}

.page {
	margin-right: 10px;
	/* 各ページフォームの間隔を調整 */
}


/* ----------------------以下reviewのcss ----------------------------*/

/* review１つひとつを囲っている枠*/
.box {
	border: 2px solid #000;
	border-radius: 20px;
	padding: 20px;
	/*width: 700px;*/
	background-color: #fff;
}