@charset "UTF-8";

.cancel-column {
	border-top: none; /* 上側のボーダーを非表示 */
    border-right: none; /* 右側のボーダーを非表示 */
    border-bottom: none; /* 下側のボーダーを非表示 */
    border-left: 1px solid #ccc; /* 左側のボーダー */
    background-color: white;
}

.under-column {
    border-right: none; /* 右側のボーダーを非表示 */
	border-left: none; /* 左側のボーダーを非表示 */
    border-bottom: none; /* 下側のボーダーを非表示 */
    border-top: 1px solid #ccc; /* 上側のボーダー */
    background-color: white;
    text-align: right;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center; /* Horizontal centering */
    vertical-align: middle; /* Vertical centering */
}

