@charset "UTF-8";

.section::after {
	background-image: url(/img/arrow-right-circle.svg);
	background-position: center;
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	height: 8px;
	margin-left: 8px;
	margin-top: -3px;
	-webkit-transition: opacity ease-out 0.3s;
	transition: opacity ease-out 0.3s;
	vertical-align: middle;
	width: 8px;
}