@charset "UTF-8";

#carouselExample {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.container.row {
    display: flex;
    align-items: center;
}

.carousel-item {
    text-align: center;
}

.carousel {
    margin-bottom: 20px;
}

.carousel-inner {
    position: relative;
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: 20rem; /* フォントサイズの指定 */
    background-color: black; /* 背景色の指定 */
}

.table {
    width: 100%; /* テーブルが親要素に対して100%幅を占める */
    border-collapse: collapse; /* セル間の余白を除去 */
    table-layout: fixed; /* テーブルのレイアウトを固定する */
    display: inline-block; /* テーブルが横に並ぶ */
}

/* 例：画面幅が800px以下の場合 */
@media screen and (max-width: 800px) {
    .table {
        font-size: 14px; /* 小さめの文字サイズに調整 */
    }
}

/* 例：画面幅が600px以下の場合 */
@media screen and (max-width: 600px) {
    .table {
        font-size: 10px; /* もっと小さい文字サイズに調整 */
    }
}

/* 例：画面幅が400px以下の場合 */
@media screen and (max-width: 400px) {
    .table {
        font-size: 8px; /* 最小の文字サイズに調整 */
    }
}

.table-head,
.table-body {
    border: 1px solid #ccc; /* 枠線の指定 */
}

.table-head th {
    width: 100px; /* ヘッダーセルの幅を固定する */
    white-space: nowrap; /* テキストが折り返されないようにする */
    padding: 8px;
    text-align: center;
    background-color: #f2f2f2; /* ヘッダーの背景色 */
}

.table-body td {
    padding: 8px;
    text-align: center;
    vertical-align: middle; /* テキストを垂直方向に中央揃え */
}

.table-body .tableData {
    width: 80px; /* データセルの幅を80pxに設定 */
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.table-container {
    flex: 0 0 100%; /* 各テーブルの幅を100%に設定 */
    margin-right: 10px; /* テーブル間の間隔を設定 */
    overflow-x: auto;
}

.hidden {
    display: none;
}

.shown {
    display: table-cell;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}