<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>予約登録</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
</head>

<body>
	<div class="wrapper">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-expand-sm navbar-light bg-light">
						<div class="container">
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarContent">

								<ul class="navbar-nav mb-2 mb-sm-0 me-auto">
									<li class="nav-item">
										<a href="/" class="nav-link" aria-current="page">ホーム</a>
									</li>
								</ul>

								<ul class="navbar-nav mb-2 mb-sm-0">
									<li class="nav-item">
										<a th:if="${session.cid} == null" href="/Login"
											class="nav-link, btn btn-outline-primary" aria-current="page">ログイン</a>
										<form th:if="${session.cid} != null" action="/Customer" method="post">
											<input type="hidden" name="cid" th:value="${session.cid}">
											<input type="hidden" name="password" th:value="${session.password}">
											<button type="submit" class="nav-link, btn btn-outline-primary">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
													fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
													<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
													<path fill-rule="evenodd"
														d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
												</svg>
											</button>
										</form>

									</li>
								</ul>


							</div>
						</div>

					</nav>

				</div>
			</div>

			<br>
			<div class="container white-background">

				<br>
				<div class="container white-background">


					<div class="row">
						<div class="col-md-6 order-md-2">

							<div class="image-container">
								<img th:src="@{'/img/person/'+${session.ename}+'.jfif'}" th:alt="${session.ename}"
									width="300" height="300" class="img-fluid">
							</div>
						</div>
						<div class="col-md-6">
							<div style="margin-top: 20px; text-align: left;">
								<h5 th:text="${session.ename} + ' ' + ${session.furigana}" class="d-block d-md-none">
								</h5>
								<h3 th:text="${session.ename} + ' ' + ${session.furigana}" class="d-none d-md-block">
								</h3>

								<p th:text="${session.referral}">

								</p>
							</div>
						</div>
					</div>

					<h3 th:text="${session.ename} + 'の空き状況'"></h3>
					<p>予約希望日をカレンダーから選択してください</p>


					<div class="table-responsive">
						<table class=" table-chenge">
							<thead>
								<tr>
									<th class="tableHead1"></th> <!-- 空のセルを作成 -->
									<!-- 日付のリストを基に横軸のヘッダーを生成 -->
									<th class="tableHead1" th:each="head : ${session.headDateList}" th:text="${head}">
									</th>
								</tr>
							</thead>
							<tbody>
								<!-- 時間のリストを基に縦軸の行を生成 -->
								<tr th:each="time, rowIndex : ${session.timeList}">
									<td th:text="${time}"></td> <!-- 時間を表示 -->
									<!-- 各セルに対して、条件によって表示を変える -->
									<td th:each="date, colIndex : ${session.dateList}" class="tableData">
										<!-- matrix のデータを表示する -->
										<span th:if="${session.matrix[rowIndex.index][colIndex.index] == 0}">
											<form action="Reservetime" method="post">
												<input type="hidden" name="date" th:value="${date}">
												<input type="hidden" name="time" th:value="${time}">
												<button type="submit" class="circle">〇</button>
											</form>
										</span>
										<span class="cross"
											th:if="${session.matrix[rowIndex.index][colIndex.index] == 1}">
											×
										</span>
										<!-- 他の値に対する条件表示も必要であれば追加 -->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
					<div class="d-flex align-items-center">
						<h4 class="mr-3">利用者のレビュー</h4>
						<a th:if="${session.cid} != null" href="/ReviewInput" class="nav-link btn btn-outline-primary">レビュー追加</a>
						<span th:if="${session.cid} == null">レビューの追加は<a href="/Login" class="atten">ログイン</a>が必要です</span>
					</div>
					<br>
					<form action="Review" method="post">
						<input type="hidden" name="page" value="1">
						<input type="submit" value="全てのレビューを表示" class="circle">
					</form>
					<br>
					<div th:if="${#lists.isEmpty(reviewList)}" >
						<p>まだレビューがありません</p>
					</div>
					<div class="container-fluid" id="bodyid">
						<div th:each="review:${reviewList}" class="gray-background row justify-content-center" id="count">
							<div class="box col-8">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
									<path fill-rule="evenodd"
										d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
								</svg>
								<span class="left-align" th:text="${review.cid}"></span><br>





								<span th:each="starNumber : ${#numbers.sequence(1, review.star)}"
									class="left-align">★</span>

								<span class="left-align" th:text="${review.title}"></span><br>
								<span class="left-align" th:text="${review.reviewdate}+'にレビュー済み'"></span><br>
								<span class="left-align" th:text="${review.comment}"></span><br>

							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!--<form action="Complete" method="post" th:object="${reserveInputForm}">
			<table>
				<tr>
					<th class="tableHead1">利用者ID*</th>
					<td><input name="cid" type="text" class="width-middle" th:value="*{cid}">
						<span th:if="${#fields.hasErrors('cid')}" th:errors="*{cid}"></span>
					</td>
				</tr>

				IDとパスワード未登録のお客様は<a href="/Register" class="atten">こちら</a>から

				<tr>
					<th class="tableHead1">パスワード*</th>
					<td><input name="password" type="password" class="width-middle" th:value="*{password}">
						<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
					</td>
				</tr>
				<tr>
					<th class="tableHead1">日付</th>
					<td><input name="reservedate" type="date" th:min="${session.min}" th:max="${session.max}"
							class="width-middle" th:value="*{reservedate}">
						<span th:if="${#fields.hasErrors('reservedate')}" th:errors="*{reservedate}"></span>
					</td>
				</tr>
				<tr>
					<th class="tableHead1">時間</th>
					<td><input name="reservetime" type="time" list="time-list" min="10:00" max="19:00" step="3600"
							class="width-middle" th:value="*{reservetime}">
						<span th:if="${#fields.hasErrors('reservetime')}" th:errors="*{reservetime}"></span>
						<datalist id="time-list">
							<option value="10:00"></option>
							<option value="11:00"></option>
							<option value="12:00"></option>
							<option value="13:00"></option>
							<option value="14:00"></option>
							<option value="15:00"></option>
							<option value="16:00"></option>
							<option value="17:00"></option>
							<option value="18:00"></option>
							<option value="19:00"></option>
						</datalist>
					</td>
				</tr>
				<tr>
					<th class="tableHead1">相談内容</th>
					<td><input name="detail" type="text" class="width-middle" style="width: 300px; height: 100px;"
							th:value="*{detail}">
						<span th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></span>
					</td>
				</tr>
			</table>
			<input type="hidden" name="ename" th:value="${session.ename}">
			<div class="controlbox">
				<input type="submit" value="送信" class="button">
				<input type="reset" value="リセット" class="button">
			</div>
		</form>-->

			<div class="footer_foot">
				<small class="footer_copy">
					Copyright ACE Co.,Ltd. 2024 All Rights reserved.
				</small>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"></script>
</body>

</html>